.difficulty {
  border-radius: 10px;
  color: white;
  width: 100px;
  height: 18px;
  font-size: 13px;
  text-align: center;
  line-height: 18px;
}

.easy {
  background-color: #329932;
}

.moderate {
  background-color: #0080ff;
}

.hard {
  background-color: black;
}

@media (max-width: 720px) {
  .difficulty {
    height: 17px;
    width: 80px;
    font-size: 12px;
  }
}
