html,
body {
  /* background-image: url("../public/images/520-bridge-seattle.jpeg"); */
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  width: 80vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

@media (max-width: 720px) {
  body {
    width: 100vw;
  }
}
