html,
body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  padding: 20px;
  width: 80%;
  margin: auto;
}

@media (max-width: 720px) {
  body {
    width: 90%;
    margin: auto;
  }
}
